<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave Management System-UT01312</title>
  <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
 
  {{style}}
</head>

<body>

 

  <main>
 
        {{content}}
  
    
 
  </main>
  <footer>
    {{script}}
  </footer>
  <script>
     const logoutButton = document.getElementById('logoutButton');
            logoutButton.addEventListener('click', function () {
                console.log("hmjg")
                localStorage.removeItem('loggedInUser');
                alert('You have been logged out.');
                window.location.href = '/login';
            });
  </script>
</body>

</html> 